.novel {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(250, 50, 50);
    border-radius: 20px;
}

.comic {
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border-radius: 20px;
}

.profile {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    border-radius: 100px;
}

.logout {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.read {
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 100px;
}

#coverc {
    width: 130px;
    height: 210px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}